*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #FAF3D8;
}

header {
    padding: 1%;
    text-align: center;
    align-items: center;
    background-color: rgb(240, 77, 77);
    color: #FAF3D8;
    font-size: larger;
    display: flex;
}


.link_continuar{
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    background-color: rgb(240, 77, 77);
    margin-left: 0%;
}

.link_local{
    position: relative;
    width: 20%;
    text-align: center;
    border-radius: 8px;
    float: right;
    background-color: rgb(240, 77, 77);
    
}

a{
    padding: 10px;
}
a:link, a:visited {
	text-decoration: underline;
    color:#FAF3D8;
    font-size: 100%;
	}

a:link, a:visited {
    text-decoration: underline;
    color:#FAF3D8;
    font-size: 100%;
    }
    
a:hover {
	text-decoration: underline;
	color: #FAF3D8;
    font-size: 105%;
	}
    
table {
    width: 98%;
    text-align: center;
    text-transform: uppercase;
    height: 30px;
    width: 100%;
}

table, th, td {
    border: 1px solid #FAF3D8;
    border-collapse: collapse;
    font-size: large;
}

th, td {
    padding: 5px 10px;
}
th {
    color: black;
    background-color: #FAF3D8;
    height: 50px;
}
td{
    background-color: rgb(240, 77, 77);
    color: #FAF3D8;
}

h3{
    float: right;
    margin: 1%;
    padding: 1%;
}
h1{
    padding-left: 10%;
    text-align: center;
    width: 100%;
}


